<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.persistence.mapper.MainMapper">

<insert parameterType ="mainDTO" id="insertJoin">
INSERT INTO USER_INFO
( USER_NO, USER_ID, USER_NAME, PASSWORD, EMAIL, ADDR, REG_NO, REG_DT, AUTH )
 VALUES ( (SELECT IFNULL(MAX(CAST(UI.USER_NO AS UNSIGNED)),0)+1 FROM USER_INFO UI),
  #{user_id}, #{user_name}, #{password}, #{email}, #{addr},(SELECT IFNULL(MAX(CAST(UI.REG_NO AS UNSIGNED)),0)+1 FROM USER_INFO UI),
   NOW(), 'u' )
</insert>

<select parameterType="mainDTO" id="getUserInfo" resultType="mainDTO">
SELECT USER_NO, USER_ID, USER_NAME, PASSWORD FROM 
USER_INFO WHERE USER_ID = #{user_id} AND PASSWORD = #{password}
</select>

<select parameterType="mainDTO" id="getUserid" resultType="mainDTO">
SELECT USER_ID, USER_NAME, EMAIL FROM USER_INFO WHERE USER_NAME = #{user_name} AND EMAIL = #{email}
</select>


<select parameterType="String" id="getUserInfoOne" resultType="mainDTO">
 SELECT * FROM USER_INFO WHERE USER_NO = #{user_no} 
</select>

<update parameterType="mainDTO" id="getupdateUserInfo">
UPDATE USER_INFO SET EMAIL = #{email}, ADDR = #{addr}, CHG_NO = #{chg_no}, CHG_DT = NOW() WHERE USER_NO = #{user_no}
</update>

<delete parameterType="mainDTO" id="deleteUserInfo">
DELETE FROM USER_INFO WHERE USER_NO = #{user_no}
</delete>

<select id="getUserList" resultType="mainDTO">
SELECT * FROM USER_INFO
</select>

<select id="getParkList" resultType="parkDTO">
SELECT * FROM APARK_INFO
</select>

<select id="getFreeList" resultType="freeDTO">
SELECT * FROM FREE_INFO
</select>

<select parameterType="mainDTO" id="getPassword" resultType="mainDTO">
SELECT USER_ID, USER_NAME, EMAIL FROM USER_INFO WHERE USER_ID = #{user_id} AND USER_NAME = #{user_name} AND EMAIL = #{email}
</select>

<select parameterType="String" id="getFree" resultType="freeDTO">
 SELECT * FROM FREE_INFO WHERE FR_NO = #{fr_no}
</select>


<select parameterType="String" id="getPark" resultType="parkDTO">
 SELECT * FROM APARK_INFO WHERE ADMIN_NO = #{admin_no} 
</select>

<insert parameterType="freeDTO" id="free_insert_proc">
INSERT INTO FREE_INFO ( FR_NO, USER_NAME, TITLE, CONTENT, CNT, REG_NO, REG_DT, USER_ID )
VALUES( (SELECT IFNULL(MAX(CAST(FI.FR_NO AS UNSIGNED)),0)+1 FROM FREE_INFO FI), #{user_name}, #{title}, #{content}, 0 , #{reg_no}, NOW(), #{user_id})
</insert>


<insert parameterType="parkDTO" id="park_insert_proc">
INSERT INTO APARK_INFO ( ADMIN_NO, PARK_NAME, PARK_DIV, ADDR1, PARK_EST1, PARK_EST2, PARK_EST3, PARK_EST4, PARK_EST5, ADMIN_NAME, NUMBER )
VALUES( (SELECT IFNULL(MAX(CAST(PI.ADMIN_NO AS UNSIGNED)),0)+1 FROM APARK_INFO PI), #{park_name}, #{park_div}, #{addr1}, #{park_est1}, #{park_est2}, #{park_est3}, #{park_est4}, #{park_est5}, #{admin_name}, #{number})
</insert>


<update id="updatePassword">
UPDATE USER_INFO SET PASSWORD = #{password} WHERE USER_NO = #{user_no}
</update>

</mapper>