<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.persistence.mapper.MainMapper">

<insert parameterType ="mainDTO" id="insertJoin">
INSERT INTO USER_INFO
( USER_NO, USER_ID, USER_NAME, PASSWORD, EMAIL, ADDR, REG_NO, REG_DT, AUTH )
 VALUES ( (SELECT IFNULL(MAX(UI.USER_NO),0)+1 FROM USER_INFO UI),
  #{user_id}, #{user_name}, #{password}, #{email}, #{addr},(SELECT IFNULL(MAX(UI.REG_NO),0)+1 FROM USER_INFO UI),
   NOW(), 'u' )
</insert>

<select parameterType="mainDTO" id="getUserInfo" resultType="mainDTO">
SELECT USER_NO, USER_ID, USER_NAME, PASSWORD FROM 
USER_INFO WHERE USER_ID = #{user_id} AND PASSWORD = #{password}
</select>

<select parameterType="mainDTO" id="getUserid" resultType="mainDTO">
SELECT USER_ID, USER_NAME, EMAIL FROM USER_INFO WHERE USER_NAME = #{user_name} AND EMAIL = #{email}
</select>


<select parameterType="String" id="getUserInfoOne" resultType="mainDTO">
 SELECT * FROM USER_INFO WHERE USER_NO = #{user_no} 
</select>

<update parameterType="mainDTO" id="getupdateUserInfo">
UPDATE USER_INFO SET EMAIL = #{email}, ADDR = #{addr}, CHG_NO = #{chg_no}, CHG_DT = NOW() WHERE USER_NO = #{user_no}
</update>

<delete parameterType="mainDTO" id="deleteUserInfo">
DELETE FROM USER_INFO WHERE USER_NO = #{user_no}
</delete>

<select id="getUserList" resultType="mainDTO">
SELECT * FROM USER_INFO
</select>

<select id="getParkList" resultType="parkDTO">
SELECT * FROM APARK_INFO
</select>

</mapper>